.img{
    width: 350px;
    height: 200px;
}
.texto{
    margin-right: 30px;
    color: rgb(38, 61, 96);
    font-weight: bolder;
    font-size: 25px;
}
h6{
    color:blue;
    font-weight: bolder;
}
h1{
    font-weight: bolder;
}